.box1
{
    width: 300px;
    height: 70px;
    background-color: orange;
}
.box2
{
    width: 300px;
    height: 70px;
    background-color:white;
    text-align: center;
}
.box3
{
    width: 300px;
    height: 70px;
    background-color:green;
}
img{
    height: 70px;
}